# Item-Based Collaborative Filtering

https://www.youtube.com/watch?v=PA1XIDSHldc

Building a movie recommender system using the MovieLens.org 100K user ratings and movie datasets

The item-based filtering places an emphasis on the relationship between the movies as the basis of creating recommendations.

In [1]:
# Import the necessary libraries
import pandas as pd

In [2]:
# Load the ratings and movie datasets and merge into a single DataFrame
# Ratings
r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('./datasets/ml-100k/u.data', sep = '\t', names = r_cols, usecols = range(3), encoding = 'latin-1')

# Movies
m_cols = ['movie_id', 'title']
movies = pd.read_csv('./datasets/ml-100k/u.item', sep = '|', names = m_cols, usecols = range(2), encoding = 'latin-1')

# Combine the movie and ratings DataFrames into a single DataFrame
ratings = pd.merge(movies, ratings)

In [3]:
# Display the newly merged DataFrame
ratings.head()

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

Use a pivot table to create a matrix of the users and movies they've rated

In [4]:
# Create a pivot table that lists the user_id, uses the movie titles as columns, and displays the user ratings 
# for each movie
userRatings = ratings.pivot_table(index = ['user_id'], columns = ['title'], values = ['rating'])   # Index = Rows
userRatings.head()

                           rating                                     \
title   'Til There Was You (1997) 1-900 (1994) 101 Dalmatians (1996)
user_id
1                             NaN          NaN                   2.0
2                             NaN          NaN                   NaN
3                             NaN          NaN                   NaN
4                             NaN          NaN                   NaN
5                             NaN          NaN                   2.0

                                                                    \
title   12 Angry Men (1957) 187 (1997) 2 Days in the Valley (1996)
user_id
1                       5.0        NaN                         NaN
2                       NaN        NaN                         NaN
3                       NaN        2.0                         NaN
4                       NaN        NaN                         NaN
5                       NaN        NaN                         NaN

                                                                          \
title   20,000 Leagues Under the Sea (1954) 2001: A Space Odyssey (1968)
user_id
1                                       3.0                          4.0
2                                       NaN                          NaN
3                                       NaN                          NaN
4                                       NaN                          NaN
5                                       NaN                          4.0

                                                                          \
title   3 Ninjas: High Noon At Mega Mountain (1998) 39 Steps, The (1935)
user_id
1                                               NaN                  NaN
2                                               1.0                  NaN
3                                               NaN                  NaN
4                                               NaN                  NaN
5                                               NaN                  NaN

                       ...                                     \
title                  ...                 Yankee Zulu (1994)
user_id                ...
1                      ...                                NaN
2                      ...                                NaN
3                      ...                                NaN
4                      ...                                NaN
5                      ...                                NaN

                                                      \
title   Year of the Horse (1997) You So Crazy (1994)
user_id
1                            NaN                 NaN
2                            NaN                 NaN
3                            NaN                 NaN
4                            NaN                 NaN
5                            NaN                 NaN

                                                                          \
title   Young Frankenstein (1974) Young Guns (1988) Young Guns II (1990)
user_id
1                             5.0               3.0                  NaN
2                             NaN               NaN                  NaN
3                             NaN               NaN                  NaN
4                             NaN               NaN                  NaN
5                             4.0               NaN                  NaN

                                                                               \
title   Young Poisoner's Handbook, The (1995) Zeus and Roxanne (1997) unknown
user_id
1                                         NaN                     NaN     4.0
2                                         NaN                     NaN     NaN
3                                         NaN                     NaN     NaN
4                                         NaN                     NaN     NaN
5                                         NaN                     NaN     4.0


title   Á köldum klaka (Cold Fever) (1994)
user_id
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN
5                                      NaN

[5 rows x 1664 columns]

Calculate the correlation score for each column pair in the matrix. 

This will create a table that lists the movie titles in both the index and columns, and displays the correlation between any given movie pair based on the rating scores provided (user rating vectors).

In [5]:
# Create a correlation matrix that compares the correlation scores of the movies
corrMatrix = userRatings.corr()
corrMatrix.head()

                                                    rating               \
title                            'Til There Was You (1997) 1-900 (1994)
       title
rating 'Til There Was You (1997)                       1.0          NaN
       1-900 (1994)                                    NaN          1.0
       101 Dalmatians (1996)                          -1.0          NaN
       12 Angry Men (1957)                            -0.5          NaN
       187 (1997)                                     -0.5          NaN

                                                                            \
title                            101 Dalmatians (1996) 12 Angry Men (1957)
       title
rating 'Til There Was You (1997)             -1.000000           -0.500000
       1-900 (1994)                                NaN                 NaN
       101 Dalmatians (1996)                  1.000000           -0.049890
       12 Angry Men (1957)                   -0.049890            1.000000
       187 (1997)                             0.269191            0.666667

                                                                         \
title                            187 (1997) 2 Days in the Valley (1996)
       title
rating 'Til There Was You (1997)  -0.500000                    0.522233
       1-900 (1994)                     NaN                         NaN
       101 Dalmatians (1996)       0.269191                    0.048973
       12 Angry Men (1957)         0.666667                    0.256625
       187 (1997)                  1.000000                    0.596644

                                                                      \
title                            20,000 Leagues Under the Sea (1954)
       title
rating 'Til There Was You (1997)                                 NaN
       1-900 (1994)                                              NaN
       101 Dalmatians (1996)                                0.266928
       12 Angry Men (1957)                                  0.274772
       187 (1997)                                                NaN

                                                               \
title                            2001: A Space Odyssey (1968)
       title
rating 'Til There Was You (1997)                    -0.426401
       1-900 (1994)                                 -0.981981
       101 Dalmatians (1996)                        -0.043407
       12 Angry Men (1957)                           0.178848
       187 (1997)                                   -0.554700

                                                                              \
title                            3 Ninjas: High Noon At Mega Mountain (1998)
       title
rating 'Til There Was You (1997)                                         NaN
       1-900 (1994)                                                      NaN
       101 Dalmatians (1996)                                             NaN
       12 Angry Men (1957)                                               NaN
       187 (1997)                                                        NaN

                                                       \
title                            39 Steps, The (1935)
       title
rating 'Til There Was You (1997)                  NaN
       1-900 (1994)                               NaN
       101 Dalmatians (1996)                 0.111111
       12 Angry Men (1957)                   0.457176
       187 (1997)                            1.000000

                                                ...                  \
title                                           ...
       title                                    ...
rating 'Til There Was You (1997)                ...
       1-900 (1994)                             ...
       101 Dalmatians (1996)                    ...
       12 Angry Men (1957)                      ...
       187 (1997)                               ...

                                                                              \
title                            Yankee Zulu (1994) Year of the Horse (1997)
       title
rating 'Til There Was You (1997)                NaN                      NaN
       1-900 (1994)                             NaN                      NaN
       101 Dalmatians (1996)                    NaN                -1.000000
       12 Angry Men (1957)                      NaN                      NaN
       187 (1997)                               NaN                 0.866025

                                                      \
title                            You So Crazy (1994)
       title
rating 'Til There Was You (1997)                 NaN
       1-900 (1994)                              NaN
       101 Dalmatians (1996)                     NaN
       12 Angry Men (1957)                       NaN
       187 (1997)                                NaN

                                                                              \
title                            Young Frankenstein (1974) Young Guns (1988)
       title
rating 'Til There Was You (1997)                       NaN               NaN
       1-900 (1994)                              -0.944911               NaN
       101 Dalmatians (1996)                      0.158840          0.119234
       12 Angry Men (1957)                        0.096546          0.068944
       187 (1997)                                 0.455233         -0.500000

                                                       \
title                            Young Guns II (1990)
       title
rating 'Til There Was You (1997)                  NaN
       1-900 (1994)                               NaN
       101 Dalmatians (1996)                 0.680414
       12 Angry Men (1957)                  -0.361961
       187 (1997)                            0.500000

                                                                        \
title                            Young Poisoner's Handbook, The (1995)
       title
rating 'Til There Was You (1997)                                   NaN
       1-900 (1994)                                                NaN
       101 Dalmatians (1996)                                  0.000000
       12 Angry Men (1957)                                    0.144338
       187 (1997)                                             0.475327

                                                                  \
title                            Zeus and Roxanne (1997) unknown
       title
rating 'Til There Was You (1997)                     NaN     NaN
       1-900 (1994)                                  NaN     NaN
       101 Dalmatians (1996)                    0.707107     NaN
       12 Angry Men (1957)                      1.000000     1.0
       187 (1997)                                    NaN     NaN


title                            Á köldum klaka (Cold Fever) (1994)
       title
rating 'Til There Was You (1997)                                NaN
       1-900 (1994)                                             NaN
       101 Dalmatians (1996)                                    NaN
       12 Angry Men (1957)                                      NaN
       187 (1997)                                               NaN

[5 rows x 1664 columns]

The filter needs to be adjusted to display the results of movies that several people rated together. This will also help determine which titles are the most popular/easily recognizable. To do this, the min_periods argument will be used to pull results for movie rating pairs where at least 100 users rated them.

In [6]:
# Use the Pearson correlation score with movies that had at least 100 ratings to determine the correlation scores
corrMatrix = userRatings.corr(method = 'pearson', min_periods = 100)
corrMatrix.head()

                                                    rating               \
title                            'Til There Was You (1997) 1-900 (1994)
       title
rating 'Til There Was You (1997)                       NaN          NaN
       1-900 (1994)                                    NaN          NaN
       101 Dalmatians (1996)                           NaN          NaN
       12 Angry Men (1957)                             NaN          NaN
       187 (1997)                                      NaN          NaN

                                                                            \
title                            101 Dalmatians (1996) 12 Angry Men (1957)
       title
rating 'Til There Was You (1997)                   NaN                 NaN
       1-900 (1994)                                NaN                 NaN
       101 Dalmatians (1996)                       1.0                 NaN
       12 Angry Men (1957)                         NaN                 1.0
       187 (1997)                                  NaN                 NaN

                                                                         \
title                            187 (1997) 2 Days in the Valley (1996)
       title
rating 'Til There Was You (1997)        NaN                         NaN
       1-900 (1994)                     NaN                         NaN
       101 Dalmatians (1996)            NaN                         NaN
       12 Angry Men (1957)              NaN                         NaN
       187 (1997)                       NaN                         NaN

                                                                      \
title                            20,000 Leagues Under the Sea (1954)
       title
rating 'Til There Was You (1997)                                 NaN
       1-900 (1994)                                              NaN
       101 Dalmatians (1996)                                     NaN
       12 Angry Men (1957)                                       NaN
       187 (1997)                                                NaN

                                                               \
title                            2001: A Space Odyssey (1968)
       title
rating 'Til There Was You (1997)                          NaN
       1-900 (1994)                                       NaN
       101 Dalmatians (1996)                              NaN
       12 Angry Men (1957)                                NaN
       187 (1997)                                         NaN

                                                                              \
title                            3 Ninjas: High Noon At Mega Mountain (1998)
       title
rating 'Til There Was You (1997)                                         NaN
       1-900 (1994)                                                      NaN
       101 Dalmatians (1996)                                             NaN
       12 Angry Men (1957)                                               NaN
       187 (1997)                                                        NaN

                                                       \
title                            39 Steps, The (1935)
       title
rating 'Til There Was You (1997)                  NaN
       1-900 (1994)                               NaN
       101 Dalmatians (1996)                      NaN
       12 Angry Men (1957)                        NaN
       187 (1997)                                 NaN

                                                ...                  \
title                                           ...
       title                                    ...
rating 'Til There Was You (1997)                ...
       1-900 (1994)                             ...
       101 Dalmatians (1996)                    ...
       12 Angry Men (1957)                      ...
       187 (1997)                               ...

                                                                              \
title                            Yankee Zulu (1994) Year of the Horse (1997)
       title
rating 'Til There Was You (1997)                NaN                      NaN
       1-900 (1994)                             NaN                      NaN
       101 Dalmatians (1996)                    NaN                      NaN
       12 Angry Men (1957)                      NaN                      NaN
       187 (1997)                               NaN                      NaN

                                                      \
title                            You So Crazy (1994)
       title
rating 'Til There Was You (1997)                 NaN
       1-900 (1994)                              NaN
       101 Dalmatians (1996)                     NaN
       12 Angry Men (1957)                       NaN
       187 (1997)                                NaN

                                                                              \
title                            Young Frankenstein (1974) Young Guns (1988)
       title
rating 'Til There Was You (1997)                       NaN               NaN
       1-900 (1994)                                    NaN               NaN
       101 Dalmatians (1996)                           NaN               NaN
       12 Angry Men (1957)                             NaN               NaN
       187 (1997)                                      NaN               NaN

                                                       \
title                            Young Guns II (1990)
       title
rating 'Til There Was You (1997)                  NaN
       1-900 (1994)                               NaN
       101 Dalmatians (1996)                      NaN
       12 Angry Men (1957)                        NaN
       187 (1997)                                 NaN

                                                                        \
title                            Young Poisoner's Handbook, The (1995)
       title
rating 'Til There Was You (1997)                                   NaN
       1-900 (1994)                                                NaN
       101 Dalmatians (1996)                                       NaN
       12 Angry Men (1957)                                         NaN
       187 (1997)                                                  NaN

                                                                  \
title                            Zeus and Roxanne (1997) unknown
       title
rating 'Til There Was You (1997)                     NaN     NaN
       1-900 (1994)                                  NaN     NaN
       101 Dalmatians (1996)                         NaN     NaN
       12 Angry Men (1957)                           NaN     NaN
       187 (1997)                                    NaN     NaN


title                            Á köldum klaka (Cold Fever) (1994)
       title
rating 'Til There Was You (1997)                                NaN
       1-900 (1994)                                             NaN
       101 Dalmatians (1996)                                    NaN
       12 Angry Men (1957)                                      NaN
       187 (1997)                                               NaN

[5 rows x 1664 columns]

### More work needed here

Add new user at user number 0 <br>
Rate 3-5 movies for new user

Create a new user 0 as a test case

In [7]:
# Pull a single user record to work with - Displays all of the titles user #32 rated
myRatings = userRatings.loc[32].dropna()
myRatings

        title
rating  Austin Powers: International Man of Mystery (1997)    4.0
        Beavis and Butt-head Do America (1996)                2.0
        Cable Guy, The (1996)                                 2.0
        Chasing Amy (1997)                                    4.5
        Close Shave, A (1995)                                 3.0
        Con Air (1997)                                        1.0
        Dead Man Walking (1995)                               3.0
        Devil's Advocate, The (1997)                          2.0
        Devil's Own, The (1997)                               2.0
        Face/Off (1997)                                       5.0
        Fargo (1996)                                          3.0
        Fathers' Day (1997)                                   3.0
        Fierce Creatures (1997)                               3.0
        Fifth Element, The (1997)                             4.0
        George of the Jungle (1997)                           2.0
        Grosse Pointe Blank (1997)                            4.0
        Jackie Chan's First Strike (1996)                     2.0
        Leaving Las Vegas (1995)                              4.0
        Liar Liar (1997)                                      3.0
        Mars Attacks! (1996)                                  3.0
        Men in Black (1997)                                   4.0
        Michael (1996)                                        3.0
        Mission: Impossible (1996)                            4.0
        People vs. Larry Flynt, The (1996)                    4.0
        Primal Fear (1996)                                    3.0
        Private Parts (1997)                                  4.0
        Ransom (1996)                                         3.0
        Return of the Jedi (1983)                             4.0
        Rock, The (1996)                                      3.0
        Scream (1996)                                         4.0
        Sleepers (1996)                                       4.0
        Star Trek: First Contact (1996)                       3.0
        Star Wars (1977)                                      4.0
        Starship Troopers (1997)                              3.0
        Titanic (1997)                                        4.0
        Trainspotting (1996)                                  5.0
        Truth About Cats & Dogs, The (1996)                   3.0
        Twelve Monkeys (1995)                                 4.0
        Twister (1996)                                        3.0
        Willy Wonka and the Chocolate Factory (1971)          3.0
Name: 32, dtype: float64

Go through each of the rated titles to build a list of potential recommendations based on the user's rated titles.

For each of the rated movies, a list of similar movies will be pulled from the correlation matrix. Those correlations will then be scaled based on the user ratings, so that the movies that were liked most will have a greater impact.

## More work here

Adjust the for loop to appear similarly to the tutorial (7:17)

In [13]:
simCandidates = pd.Series()
for i in range(0, len(myRatings.index)):
    print("Adding similar movies for " + str(myRatings.index[i]) + "...")
    # Retrieve similar movies to the ones already rated
    sims = corrMatrix[myRatings.index[i]].dropna()
    # Scale the similarity based on how the user rated the movie
    sims = sims.map(lambda x: x * myRatings[i])
    # Add the score to the list of similarity candidates
    simCandidates = simCandidates.append(sims)

# Check the results so far
print("Sort in decreasing order of similarity score: ")
simCandidates.sort_values(inplace = True, ascending = False)
print(simCandidates.head(10))

Adding similar movies for ('rating', 'Austin Powers: International Man of Mystery (1997)')...
Adding similar movies for ('rating', 'Beavis and Butt-head Do America (1996)')...
Adding similar movies for ('rating', 'Cable Guy, The (1996)')...
Adding similar movies for ('rating', 'Chasing Amy (1997)')...
Adding similar movies for ('rating', 'Close Shave, A (1995)')...
Adding similar movies for ('rating', 'Con Air (1997)')...
Adding similar movies for ('rating', 'Dead Man Walking (1995)')...
Adding similar movies for ('rating', "Devil's Advocate, The (1997)")...
Adding similar movies for ('rating', "Devil's Own, The (1997)")...
Adding similar movies for ('rating', 'Face/Off (1997)')...
Adding similar movies for ('rating', 'Fargo (1996)')...
Adding similar movies for ('rating', "Fathers' Day (1997)")...
Adding similar movies for ('rating', 'Fierce Creatures (1997)')...
Adding similar movies for ('rating', 'Fifth Element, The (1997)')...
Adding similar movies for ('rating', 'George of the Jungle (1997)')...
Adding similar movies for ('rating', 'Grosse Pointe Blank (1997)')...
Adding similar movies for ('rating', "Jackie Chan's First Strike (1996)")...
Adding similar movies for ('rating', 'Leaving Las Vegas (1995)')...
Adding similar movies for ('rating', 'Liar Liar (1997)')...
Adding similar movies for ('rating', 'Mars Attacks! (1996)')...
Adding similar movies for ('rating', 'Men in Black (1997)')...
Adding similar movies for ('rating', 'Michael (1996)')...
Adding similar movies for ('rating', 'Mission: Impossible (1996)')...
Adding similar movies for ('rating', 'People vs. Larry Flynt, The (1996)')...
Adding similar movies for ('rating', 'Primal Fear (1996)')...
Adding similar movies for ('rating', 'Private Parts (1997)')...
Adding similar movies for ('rating', 'Ransom (1996)')...
Adding similar movies for ('rating', 'Return of the Jedi (1983)')...
Adding similar movies for ('rating', 'Rock, The (1996)')...
Adding similar movies for ('rating', 'Scream (1996)')...
Adding similar movies for ('rating', 'Sleepers (1996)')...
Adding similar movies for ('rating', 'Star Trek: First Contact (1996)')...
Adding similar movies for ('rating', 'Star Wars (1977)')...
Adding similar movies for ('rating', 'Starship Troopers (1997)')...
Adding similar movies for ('rating', 'Titanic (1997)')...
Adding similar movies for ('rating', 'Trainspotting (1996)')...
Adding similar movies for ('rating', 'Truth About Cats & Dogs, The (1996)')...
Adding similar movies for ('rating', 'Twelve Monkeys (1995)')...
Adding similar movies for ('rating', 'Twister (1996)')...
Adding similar movies for ('rating', 'Willy Wonka and the Chocolate Factory (1971)')...
Sort in decreasing order of similarity score:
(rating, Face/Off (1997))                                       5.0
(rating, Trainspotting (1996))                                  5.0
(rating, Chasing Amy (1997))                                    4.5
(rating, Austin Powers: International Man of Mystery (1997))    4.0
(rating, Sleepers (1996))                                       4.0
(rating, Fifth Element, The (1997))                             4.0
(rating, Scream (1996))                                         4.0
(rating, Grosse Pointe Blank (1997))                            4.0
(rating, Leaving Las Vegas (1995))                              4.0
(rating, Star Wars (1977))                                      4.0
dtype: float64

In [ ]:
# simCandidates = pd.Series()
# for i in range(0, len(myRatings.index)):
#     sims = corrMatrix[myRatings.index[i]].dropna()
#     sims = sims.map(lambda x: x * myRatings[i])
#     simCandidates = simCandidates.append(sims)
    
# simCandidates.sort_values(inplace = True, ascending = False)
# print (simCandidates.head(10))

Use groupby to add together the scores from movies that show up more than once so that they will count more

In [14]:
simCandidatessimCand = simCandidates.groupby(simCandidates.index).sum()

In [15]:
simCandidates.sort_values(inplace = True, ascending = False)
simCandidates.head(10)

(rating, Face/Off (1997))                       5.0
(rating, Trainspotting (1996))                  5.0
(rating, Chasing Amy (1997))                    4.5
(rating, Star Wars (1977))                      4.0
(rating, Titanic (1997))                        4.0
(rating, Mission: Impossible (1996))            4.0
(rating, Twelve Monkeys (1995))                 4.0
(rating, Men in Black (1997))                   4.0
(rating, People vs. Larry Flynt, The (1996))    4.0
(rating, Return of the Jedi (1983))             4.0
dtype: float64

Lastly, filter the movies that have already been rated, because recommending a movie that was already seen isn't helpful

In [16]:
filteredSims = simCandidates.drop(myRatings.index)
filteredSims.head(10)

(rating, Empire Strikes Back, The (1980))    2.991926
(rating, Empire Strikes Back, The (1980))    2.884917
(rating, Pulp Fiction (1994))                2.259531
(rating, Raiders of the Lost Ark (1981))     2.144468
(rating, GoldenEye (1995))                   2.033738
(rating, Raising Arizona (1987))             1.955990
(rating, Pretty Woman (1990))                1.918852
(rating, Nutty Professor, The (1996))        1.895031
(rating, Raiders of the Lost Ark (1981))     1.869562
(rating, Back to the Future (1985))          1.813533
dtype: float64